@font-face {
    font-family: "SF Pro Display";
    src: url(./assets/fonts/SF-Pro-Display-Medium.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(./assets/fonts/SF-Pro-Display-Black.woff);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(./assets/fonts/SF-Pro-Display-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
  }
  
  body {
      font-family: 'SF Pro Display', sans-serif;
      font-weight: normal;
      font-size: 15px;
      background-color: #171717;
  }  

#wrapper {
    width: 390px;
    height: 844px;
    background-color: #272727;
    margin: 0 auto;
    background-image: url('data:image/svg+xml,<svg width="390" height="47" viewBox="0 0 390 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.8786 18.7231C39.2805 18.7231 37.4294 20.4995 37.4294 22.9316V22.9482C37.4294 25.2227 39.0397 26.8994 41.3391 26.8994C42.9826 26.8994 44.0285 26.061 44.4684 25.1147H44.6345C44.6345 25.2061 44.6262 25.2974 44.6262 25.3887C44.5349 27.6797 43.7297 29.5391 41.8288 29.5391C40.7746 29.5391 40.0358 28.9912 39.7204 28.1528L39.6955 28.0698H37.5871L37.6037 28.1611C37.9855 29.9956 39.6291 31.2988 41.8288 31.2988C44.842 31.2988 46.6599 28.9082 46.6599 24.874V24.8574C46.6599 20.541 44.4352 18.7231 41.8786 18.7231ZM41.8703 25.2559C40.509 25.2559 39.5212 24.2598 39.5212 22.8735V22.8569C39.5212 21.5205 40.5754 20.4663 41.8952 20.4663C43.2233 20.4663 44.2609 21.5371 44.2609 22.9067V22.9233C44.2609 24.2764 43.2233 25.2559 41.8703 25.2559ZM50.0204 23.2388C50.7841 23.2388 51.3402 22.6577 51.3402 21.9272C51.3402 21.1885 50.7841 20.6157 50.0204 20.6157C49.265 20.6157 48.7006 21.1885 48.7006 21.9272C48.7006 22.6577 49.265 23.2388 50.0204 23.2388ZM50.0204 29.3979C50.7841 29.3979 51.3402 28.8252 51.3402 28.0864C51.3402 27.3477 50.7841 26.7749 50.0204 26.7749C49.265 26.7749 48.7006 27.3477 48.7006 28.0864C48.7006 28.8252 49.265 29.3979 50.0204 29.3979ZM59.1915 31H61.2418V28.7007H62.8522V26.9326H61.2418V19.022H58.212C56.5851 21.4956 54.8834 24.2515 53.3312 26.9492V28.7007H59.1915V31ZM55.3233 26.9824V26.8579C56.4855 24.8242 57.8717 22.6079 59.1002 20.7319H59.2247V26.9824H55.3233ZM67.408 31H69.5496V19.022H67.4163L64.2869 21.2217V23.2388L67.2669 21.1304H67.408V31Z" fill="white"/><rect opacity="0.35" x="337.172" y="18.5" width="24" height="12" rx="3" stroke="white"/><path opacity="0.4" d="M362.672 22.6667V26.6667C363.477 26.328 364 25.5399 364 24.6667C364 23.7936 363.477 23.0055 362.672 22.6667" fill="white"/><rect x="338.672" y="20" width="21" height="9" rx="1.33333" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M320.839 21.0674C323.306 21.0675 325.678 21.965 327.466 23.5744C327.6 23.6987 327.815 23.6971 327.948 23.5709L329.235 22.3411C329.302 22.2771 329.339 22.1904 329.339 22.1002C329.338 22.01 329.3 21.9237 329.232 21.8604C324.54 17.6022 317.138 17.6022 312.446 21.8604C312.378 21.9236 312.339 22.0099 312.339 22.1001C312.338 22.1903 312.375 22.277 312.442 22.3411L313.73 23.5709C313.862 23.6973 314.077 23.6989 314.212 23.5744C316 21.9649 318.372 21.0673 320.839 21.0674ZM320.837 25.1752C322.183 25.1752 323.481 25.6733 324.479 26.5728C324.614 26.7005 324.827 26.6977 324.958 26.5666L326.235 25.2824C326.302 25.215 326.34 25.1236 326.339 25.0287C326.338 24.9337 326.298 24.8431 326.23 24.7771C323.191 21.9633 318.486 21.9633 315.447 24.7771C315.379 24.8431 315.34 24.9338 315.339 25.0288C315.338 25.1237 315.375 25.2151 315.443 25.2824L316.719 26.5666C316.85 26.6977 317.063 26.7005 317.198 26.5728C318.195 25.6739 319.492 25.1758 320.837 25.1752ZM323.339 27.8944C323.34 27.9969 323.304 28.0958 323.237 28.1676L321.078 30.557C321.015 30.6272 320.929 30.6667 320.839 30.6667C320.749 30.6667 320.662 30.6272 320.599 30.557L318.44 28.1676C318.373 28.0958 318.337 27.9969 318.339 27.8943C318.341 27.7918 318.381 27.6947 318.451 27.6259C319.829 26.347 321.848 26.347 323.227 27.6259C323.296 27.6947 323.337 27.7919 323.339 27.8944Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M304.939 19.7917C304.939 19.1704 304.461 18.6667 303.872 18.6667H302.805C302.216 18.6667 301.739 19.1704 301.739 19.7917V29.5417C301.739 30.1631 302.216 30.6667 302.805 30.6667H303.872C304.461 30.6667 304.939 30.1631 304.939 29.5417V19.7917ZM297.505 21.0667H298.572C299.161 21.0667 299.639 21.5825 299.639 22.2187V29.5147C299.639 30.151 299.161 30.6667 298.572 30.6667H297.505C296.916 30.6667 296.439 30.151 296.439 29.5147V22.2187C296.439 21.5825 296.916 21.0667 297.505 21.0667ZM293.172 23.6667H292.105C291.516 23.6667 291.039 24.1891 291.039 24.8334V29.5001C291.039 30.1444 291.516 30.6667 292.105 30.6667H293.172C293.761 30.6667 294.239 30.1444 294.239 29.5001V24.8334C294.239 24.1891 293.761 23.6667 293.172 23.6667ZM287.872 26.0667H286.805C286.216 26.0667 285.739 26.5816 285.739 27.2167V29.5167C285.739 30.1519 286.216 30.6667 286.805 30.6667H287.872C288.461 30.6667 288.939 30.1519 288.939 29.5167V27.2167C288.939 26.5816 288.461 26.0667 287.872 26.0667Z" fill="white"/><path d="M118.26 0H271.692V15C271.692 24.3888 264.129 32 254.8 32H135.151C125.822 32 118.26 24.3888 118.26 15V0Z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: top;
}

#search_and_text {
    margin-left: 16px;
    margin-top: 72px;
    margin-bottom: 30px;
}

.questions {
    margin-left: 16px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 20px;
}

.filters_labels {
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 16px;
    width: 358px;
    height: 104px;
    margin-bottom: 30px;
}

#synonym_filter, #antonym_filter, #hypernym_filter, #hyponym_filter, #writing_style_filter, #neutral_style_filter, #speaking_style_filter {
    display: none;
}

#synonym, #antonym, #hypernym, #hyponym, #writing_style, #neutral_style, #speaking_style {
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 15px;
    background-color: #383838;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0714 14.2857C11.0714 14.5699 10.9585 14.8424 10.7576 15.0433C10.5567 15.2443 10.2842 15.3571 10 15.3571C9.71584 15.3571 9.44332 15.2443 9.24239 15.0433C9.04145 14.8424 8.92857 14.5699 8.92857 14.2857C8.92857 14.0016 9.04145 13.729 9.24239 13.5281C9.44332 13.3272 9.71584 13.2143 10 13.2143C10.2842 13.2143 10.5567 13.3272 10.7576 13.5281C10.9585 13.729 11.0714 14.0016 11.0714 14.2857ZM8.57143 7.14286C8.57143 6.75929 8.7 6.39929 8.92643 6.14429C9.14143 5.90214 9.47929 5.71429 10 5.71429C10.9343 5.71429 11.7014 6.67714 11.45 7.68429C11.3214 8.2 11.0143 8.495 10.5521 8.93857L10.425 9.06C9.90429 9.56429 9.28571 10.2343 9.28571 11.4286C9.28571 11.618 9.36097 11.7997 9.49492 11.9336C9.62888 12.0676 9.81056 12.1429 10 12.1429C10.1894 12.1429 10.3711 12.0676 10.5051 11.9336C10.639 11.7997 10.7143 11.618 10.7143 11.4286C10.7143 10.8379 10.9664 10.5236 11.4179 10.0879L11.5543 9.95786C11.9929 9.54357 12.6014 8.96857 12.8357 8.03071C13.2986 6.18071 11.9229 4.28571 10 4.28571C9.09214 4.28571 8.35857 4.63357 7.85929 5.195C7.37143 5.74357 7.14286 6.455 7.14286 7.14286C7.14286 7.3323 7.21811 7.51398 7.35207 7.64793C7.48602 7.78189 7.6677 7.85714 7.85714 7.85714C8.04658 7.85714 8.22826 7.78189 8.36222 7.64793C8.49617 7.51398 8.57143 7.3323 8.57143 7.14286ZM0 10C0 4.47714 4.47714 0 10 0C15.5229 0 20 4.47714 20 10C20 15.5229 15.5229 20 10 20C4.47714 20 0 15.5229 0 10ZM10 1.42857C5.26643 1.42857 1.42857 5.26643 1.42857 10C1.42857 14.7336 5.26643 18.5714 10 18.5714C14.7336 18.5714 18.5714 14.7336 18.5714 10C18.5714 5.26643 14.7336 1.42857 10 1.42857Z" fill="%23666666"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    transition: 300ms ease-out;
    user-select: none;
    -webkit-user-select: none;
}

#synonym {
    width: 132px;
    height: 44px; 
}

#antonym {
    width: 129px;
    height: 44px;
}

#hypernym {
    width: 145px;
    height: 44px;
}

#hyponym {
    width: 128px;
    height: 44px;
}

#writing_style {
    width: 133px;
    height: 44px;
}

#neutral_style {
    width: 162px;
    height: 44px;
}

#speaking_style {
    width: 159px;
    height: 44px;
}

#synonym_filter:checked + #synonym, #antonym_filter:checked + #antonym, #hypernym_filter:checked + #hypernym, #hyponym_filter:checked + #hyponym,
#writing_style_filter:checked + #writing_style,
#neutral_style_filter:checked + #neutral_style,
#speaking_style_filter:checked + #speaking_style {
    background-color: #EB6D54;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M11.0714 14.2857C11.0714 14.5699 10.9585 14.8424 10.7576 15.0433C10.5567 15.2443 10.2842 15.3571 10 15.3571C9.71584 15.3571 9.44332 15.2443 9.24239 15.0433C9.04145 14.8424 8.92857 14.5699 8.92857 14.2857C8.92857 14.0016 9.04145 13.729 9.24239 13.5281C9.44332 13.3272 9.71584 13.2143 10 13.2143C10.2842 13.2143 10.5567 13.3272 10.7576 13.5281C10.9585 13.729 11.0714 14.0016 11.0714 14.2857ZM8.57143 7.14286C8.57143 6.75929 8.7 6.39929 8.92643 6.14429C9.14143 5.90214 9.47929 5.71429 10 5.71429C10.9343 5.71429 11.7014 6.67714 11.45 7.68429C11.3214 8.2 11.0143 8.495 10.5521 8.93857L10.425 9.06C9.90429 9.56429 9.28571 10.2343 9.28571 11.4286C9.28571 11.618 9.36097 11.7997 9.49492 11.9336C9.62888 12.0676 9.81056 12.1429 10 12.1429C10.1894 12.1429 10.3711 12.0676 10.5051 11.9336C10.639 11.7997 10.7143 11.618 10.7143 11.4286C10.7143 10.8379 10.9664 10.5236 11.4179 10.0879L11.5543 9.95786C11.9929 9.54357 12.6014 8.96857 12.8357 8.03071C13.2986 6.18071 11.9229 4.28571 10 4.28571C9.09214 4.28571 8.35857 4.63357 7.85929 5.195C7.37143 5.74357 7.14286 6.455 7.14286 7.14286C7.14286 7.3323 7.21811 7.51398 7.35207 7.64793C7.48602 7.78189 7.6677 7.85714 7.85714 7.85714C8.04658 7.85714 8.22826 7.78189 8.36222 7.64793C8.49617 7.51398 8.57143 7.3323 8.57143 7.14286ZM0 10C0 4.47714 4.47714 0 10 0C15.5229 0 20 4.47714 20 10C20 15.5229 15.5229 20 10 20C4.47714 20 0 15.5229 0 10ZM10 1.42857C5.26643 1.42857 1.42857 5.26643 1.42857 10C1.42857 14.7336 5.26643 18.5714 10 18.5714C14.7336 18.5714 18.5714 14.7336 18.5714 10C18.5714 5.26643 14.7336 1.42857 10 1.42857Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    transition: 300ms ease-out;
}

#medium_button {
    margin-left: 78px;
    margin-top: 182px;
    margin-bottom: 20px;
}

#tabbar {
    height: 84px;
    background-image: url('data:image/svg+xml,<svg width="134" height="5" viewBox="0 0 134 5" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="134" height="5" rx="2.5" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: bottom 8px center;
}
